Source: pglift
Section: python
Priority: optional
Maintainer: Dalibo <contact@dalibo.com>
Uploaders:
  Denis Laxalde <denis.laxalde@dalibo.com>,
Build-Depends:
  debhelper (>= 11),
  dh-python,
  python3-all,
  python3-setuptools,
  python3-sphinx,
  python3-pytest,
  python3-attr,
  python3-psycopg2,
  postgresql,
  libpq-dev,
# python3-pgtoolkit,  TODO: no package available yet
Standards-Version: 4.1.3
Homepage: https://gitlab.com/dalibo/pglift
X-Python3-Version: >= 3.6
#Testsuite: autopkgtest-pkg-python

Package: python3-pglift
Architecture: all
Depends:
  ${python3:Depends},
  python3-psycopg2,
  ${misc:Depends},
Suggests: python-pglift-doc
Description: PostgreSQL instances operation (Python 3)
 PostgreSQL instances operation.
 .
 This package installs the library for Python 3.

Package: python-pglift-doc
Architecture: all
Section: doc
Depends:
  ${sphinxdoc:Depends},
  ${misc:Depends},
Built-Using: ${sphinxdoc:Built-Using}
Description: PostgreSQL instances operation (common documentation)
 PostgreSQL instances operation.
 .
 This is the common documentation package.
